<div class="container">

  <div class="inner-container">
    <div class="jumbotron" id="header">
      <h1 id="sign-up">Signup!</h1>
    </div>

    <%= form_for :user, url: '/users' do |f| %>

    <!-- Name: <%= f.text_field :name %>
    Email: <%= f.text_field :email %> -->
    <!-- Password: <%= f.password_field :password %>
    Password Confirmation: <%= f.password_field :password_confirmation %> -->
    <!-- <%= f.submit "Submit" %> -->

    <form>
      <div class="form-group">
        <label for="name" class="label" >Name:</label>
        <%= f.text_field :name, :class => "form-control", :placeholder => "name", :id => "name" %>
        <!-- <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" > -->
      </div>
      <div class="form-group">
        <label for="email" class="label" >Email:</label>
        <%= f.text_field :email, :class => "form-control", :placeholder => "email", :id => "email"  %>
        <!-- <input type="password" class="form-control" id="exampleInputPassword1" placeholder="email"> -->
      </div>
      <div class="form-group">
        <label for="password" class="label">Password:</label>
        <%= f.password_field :password,:class => "form-control", :placeholder => "password", :id => "password"  %>
        <!-- <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"> -->
      </div>
      <div class="form-group">
        <label for="password-again" class="label">Password Confirmation:</label>
        <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "password again...", :id => "password-again"  %>
        <!-- <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"> -->
        <%= f.submit "Submit",   :class => "btn btn-default"%>
          <!-- <button type="submit" class="btn btn-default">Submit</button> -->
      </div>


    </form>

    <% end %>

  </div>

</div>
